{% extends "base.html" %}

{% block content %}
    Op deze pagina kunt u ...
    <br>
    <form class="bs-example bs-example-form" action="{{ url_for('contracten_company') }}" method="post" enctype="multipart/form-data">
      <div class="input-group">
        <input class="form-control" type="text" multiple="" name="name" class="span3" id="inputName" placeholder="Naam" required/><br/>
      </div>
      <br>
      <div class="input-group">
          <input class="form-control" type="text" multiple="" name="email" class="span3" id="inputEmail" placeholder="Email" required/><br/>
      </div>
      <br>
      <div class="input-group">
        <span class="btn btn-default btn-file">
          Browse.. <input type="file" name="documents" required>
        </span>
      </div>
      <br>
      <div class="input-group">
        <input type="submit" value="Check"  class="btn btn-primary">
      </div>
    </form>
{% endblock %}
