{% extends "base.html" %}

{% block content %}
<script src="/static/ckeditor/ckeditor.js"></script>

<h2>Klantenmanagement</h2>
{% if customers or pot_customers %}
  {% if customers %}
    De volgende klanten ontvangen bij wetswijzingen of publicatie van jurisprudentie relevant voor de contracten van de klant automatisch een e-mail.
    <br>
      <div class="list-group">
        {% for customer in customers %}
          <li class="list-group-item"><a href="/remove_customer/{{customer}}"><span class="glyphicon glyphicon-remove"></span></a> {{ customer }}</li>
         {% endfor %}
      </div>
  {% endif %}
{% else %}
Er zijn op dit moment nog geen klanten in uw bestand. Laat klanten een account aanmaken, waarna u de verschillende modules kan aanzetten. <br><br><br>
{% endif %}

  {% if pot_customers %}
    De volgende klanten ontvangen bij wetswijzingen of publicatie van jurisprudentie relevant voor de contracten van de klant nog <b>niet</b> automatisch een e-mail.
      <div class="list-group">
        {% for customer in pot_customers %}
          <li class="list-group-item"><a href="/add_customer/{{customer}}"><span class="glyphicon glyphicon-plus"></span></a> {{ customer }}</li>
         {% endfor %}
      </div>
  {% endif %}

<h2>E-mail</h2><br>
  <form method="post">
    <p>Wilt u uw klanten automatisch op de hoogte brengen indien er relevante wetswijzigingen of jurispundentie vrijkomt?</p>
    <div class="radio">
      <label><input type="radio" name="auto">Ja</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="auto">Nee</label>
    </div>
    <br>

    <p>U kunt dit template veranderen om de e-mail die uw klant ontvangt wanneer een wetswijziging relevant is voor de contracten van uw klant the personaliseren</p>
     <textarea name="edit1" id="editor1" rows="10" cols="80">
         {{ template1 }}
     </textarea>
     <br>
     <p>U kunt dit template veranderen om de e-mail die uw klant ontvangt wanneer een potentiele klant gebruik maakt van de contractenservice een mogelijke verandering in het contract nodig is.</p>
     <textarea name="edit2" id="editor2" rows="10" cols="80">
         {{ template2 }}
     </textarea>
    <br>
    <p>U kunt dit template veranderen om de e-mail die uw klant ontvangt wanneer een potentiele klant gebruik maakt van de contractenservice en er geen verandering nodig is in het contract.</p>
     <textarea name="edit3" id="editor3" rows="10" cols="80">
         {{ template3 }}
     </textarea>
     <br>
     <input type="submit" value="Bewaar"  class="btn btn-primary">
     <script>
         // Replace the <textarea id="editor1"> with a CKEditor
         // instance, using default configuration.
         CKEDITOR.replace( 'edit1' );
         CKEDITOR.replace( 'edit2' );
         CKEDITOR.replace( 'edit3' );
     </script>
 </form>
{% endblock %}
